# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Streamlit
.streamlit/

# Variáveis de ambiente
.env
.env.*

# Arquivos temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db